:root {
    --main-bg-color: rgb(197 223 201);
    --main-color: rgb(17, 102, 32);
  }


  body{
    background: var(--main-bg-color);
    color: var(--main-color);
  }

.logo{
    width: 20vh;
    height: 20vh;
}

.pointit-card.card{
    max-width: 850px;
    border-radius: 10px;
    position: relative;
    display: flex;
    box-shadow: 0 8px 20px 0px #1f1f1f1a;
    
}

.form-check-input:checked{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-pointit{
    color: var(--main-color);
    background-color: #ffffff;
    border-color: #9d9d9d;
    border: 1px solid;
}

.btn-pointit:hover{
    background-color: var(--main-color);
    color: #ffffff;
    border-color: #9d9d9d;
}

.input-field:focus{
    border: 1px solid #31a031;
    box-shadow: 0 0 0 0.25rem #35b63538;
}



.pointit-link{
    color: var(--main-color);
    font-style: italic;
}

.pointit-link:hover{
    color: #71bc74;
}

.pointitform label {
    font-weight: 600;
    font-size: 15px;
    color: var(--main-color);
    /* display: block; */
    margin-bottom: 8px;
}